.leaflet-container{
  height: 100vh;
  width: 100vw;

}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-family: sans-serif;
  color: #fff;
  background-color: #313131;
}

/* unvisited link */
a:link {
  color: #fff;
}

/* visited link */
a:visited {
  color: #fff ;
}

/* mouse over link */
a:hover {
  color: #007AFF;
}

/* selected link */
a:active {
  color: #fff;
}